.clickable-day {
	cursor: pointer;
}

.clickable-day:hover {
	background-color: var(--color-secondary);
}

.selected-day {
	background-color: var(--color-accent) !important;
	color: white !important;
}